html,body{
	height:100%;
	font-family: 'Alegreya Sans', sans-serif;
}
.btn{
	transition: all 0.4s ease-in-out;
}

/*NAVBAR*/
.navbar {
	background-color:rgba(21,31,33,0.5);			/* last 0.5 shows transparency*/
	border-bottom:1px solid #dedede;
	font-family: 'Alegreya Sans', sans-serif;
}
.navbar .nav .nav-item .nav-link {
	color: #fff;
}
.navbar .nav .nav-item .nav-link:hover {
	color: #5ac1f4;
}
.navbar-toggler {
	color: white;
}
/*END NAVBAR*/

/*HEADER*/
#header{
	background:url('../img/cover-photo-publishing.jpg') center center repeat;
	background-size:cover;
	height:100%;
	color:#af2121;	
	display:flex;
    align-items:center;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
}
#header img {
	padding:0 0 20ps;
	width:80%;
}
#header .mainTitle {
    padding-top: 25%;
}
#header .fa {
    margin: 5% 0;
    margin-top: 3%
}
#header a .fa{
	color: white;
}
#header a .fa:hover{
	color: lightblue;
}
#header .blockquote {
    background-color:rgba(21,31,33,0.5);
    margin-top: 25%;
}
/*SOCIAL*/
#social {
    padding: 5rem 0;
    overflow: hidden;
}
#social .fa {
    font-size: 1.5em;
    color: #be2835;
    border:2px solid #be2835;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
    padding: 30% 0;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}
#social .fa:hover{
    color: #fff;
    background: #be2835;
}
/*END SOCIAL*/

/*WHO*/
#who{
    padding: 5rem 0;
    background-color: #f6f6f6;
    overflow: hidden;                            /*So much useful*/
}
#who .btn-who{
    background-color: #be2835;
    color: #fff;
    width: 50%;
}
#who .btn-who:hover{
    color: #be2835;
    background-color: transparent;
    border: 1px solid #be2835;
}
/*END WHO*/

/*WORK*/
#work{
    padding: 5rem 0;
}
#work .work-img {
    position:  relative;
}

#work .work-img .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    background-image: url('../img/eye.png');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    transition: all 0.4s ease-in-out;
}
#work .work-img .img-overlay:hover{
    opacity: 1;
    z-index: 1;
}
/*END WORK*/

/*WHY*/
#why {
    padding: 5rem 0;
    background: #f6f6f6;
}
#why .fa {
    padding: 15px 0; 
    color: #be2835;
}
/*END WHY*/

/*AUTHORS*/
#authors {
    padding: 5rem 0;
    overflow: hidden;
}
#authors .carousel-indicators li{
    background-color: #be2835;
}
#authors .carousel-inners {
        margin-bottom: 50px;
}
#authors .carousel-indicators {
    margin-bottom: -50px;
}
/*END AUTHORS*/

/*CONTACT*/
#contact {
    padding: 5rem 0;
}
#contact .form-group input{
    padding: 5px 0;
    margin: 10px 0;
}
#subscribe {
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border: 1px solid #be2835;
    border-radius: 15px;
    overflow: hidden; 
}
#subscribe h2 {
    color: #be2835;
    padding-top:10px;
}
#subscribe p {
    color: #be2835;
}

#subscribe .btn{
    border: 1px solid;
    background-color: #be2835;
    width: 50%;
    color: #fff;
}
#subscribe .btn:hover{
    color: #be2835;
    background-color: transparent;
    border: 1px solid #be2835;
}
/*END CONTACT*/

/*FOOTER*/
#footer {
    padding: 2rem 0;
    background-color: #484848;
    color: white;
}
#footer a {
    color: white;
}
#footer .fa {
    padding: 0 5px;
}
#footer .fa:hover{
    color: #be2835;
}
/*END FOOTER*/
@media(max-width:768px){
	#header {
        text-align: center;	
	}
	#header img{
        margin: 0% auto 0;
        width:30%;
    }
    #header .mainTitle {
        margin-top: 20%;
    }
    #header .blockquote {
        display: none;
    }   
    #social {
        text-align: center;
    }
    #social hr, #who hr {
        margin: 8% auto;
    }
    #who {
        text-align: center;
    }
    #who img {
        margin-top: 15%;
    }
    #footer{
        text-align: center;
    }
}
@media(max-width:408px){
	#header img{
        padding-top: 0%;
    }
    #header .blockquote {
        display: none;
    }    
}

/* Adding new for Separate book page*/
 /* Style the list */
 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  } 



/* Hide short text by default (resolution > 1200px) */
.short-text { display: none; }

/* When resolution <= 1200px, hide short text and show full text */
@media (max-width: 768px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}